@import url('https://fonts.googleapis.com/css2?family=Product+Sans&display=swap');

body {
    font-family: 'Product Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

h1 {
  margin: 0;
}

main {
  margin: 20px;
}

.blog-post {
    margin-bottom: 20px;
    color: #fff;
}

.blog-post h2 {
  margin-top: 0;
}

.pagination {
  margin-top: 20px;
}

.pagination a {
  display: inline-block;
  margin-right: 5px;
  padding: 5px 10px;
  background-color: #f1f1f1;
  color: #333;
  text-decoration: none;
}

.pagination a.active {
  background-color: #333;
  color: #fff;
}

/* Rest of your existing CSS styles */

.social-handles {
    margin-top: 15px;
  }
  
  .social-handles a {
    margin-right: 15px;
  }
  

  .date {
    color: #aaa;
    font-size: 14px;
    margin-top: 5px;
  }
  
